
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
}

div .imagens{
    display: flex;
    width: 100%;
}

.imagens img{
    width: 80px;
}